.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 25px;
}

.App-header {
  text-align: initial;
}

h2 {
  padding-left: 15px;
}

.fas {
  color: rgb(16, 199, 16);
}

.far {
  color: rgb(226, 37, 37);
}

.loading-logo {
  animation: App-logo-spin infinite 3s linear;
  color: white;
  margin: 10px;
}

.row {
  margin: 0;
}

.song {
  padding: 10px;
  font-size: 1.1em
}

.song:hover {
  background-color: rgba(0, 0, 0, 0.219);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 380px) {
  .song {
    font-size: 0.8em
  }
}
